body {
    position: relative;
    /* font-family: Bevellier-Regular; */
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-family: Bevellier-Variable;
    --text-color-primary: #0040a3;
    --nav-link-hover-color: #262626;
    --nav-link-color: #FFFFFF;
    --nav-link-collapsed-color: #262626;

}

body[data-theme='dark'] {
    --text-color-primary: #0164fc;
    --nav-link-hover-color: #aca9a9;
    --nav-link-collapsed-color: #FFFFFF;
}

[data-theme='dark'] {
    --text-color-primary: #0164fc;
}

/* Background classes */
.bg-top {
    z-index: -2;

    position: absolute;
    top: 0px;
    ;
    width: 100%;
    height: 100%;

    background-image: url("../images/bg_top.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top right;
    filter: blur(20px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

@media (orientation: portrait) {
    .bg-top {
        background-image: url("../images/bg_top_portrait_small.webp");
        background-size: 500%;
    }
}

[data-theme='dark'] .bg-top {
    background-image: none;
    background-color: #000;

}

[data-theme='dark'] .bg-bottom {
    background: none;
}

.bg-bottom {
    z-index: -2;

    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100%;

    background: url("../images/bg_bottom.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom right;
    filter: blur(36px);
}

.navbar svg {
    fill: var(--text-color-primary);
}

.navbar .nav-link svg,
.navbar .btn-connect svg {
    fill: var(--nav-link-color);
}

.navbar .nav-link svg:hover {
    fill: var(--nav-link-hover-color);
}


/*Navbar elements styles*/
.navbar-secondary {
    justify-content: start;
}

.nav-link,
.nav-link:visited {
    font-size: 1.4rem;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-transform: uppercase;
    color: var(--nav-link-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-collapsed,
.nav-link-collapsed:visited {
    color: var(--nav-link-collapsed-color);
    font-size: 18px;
}

.nav-link:hover {
    color: var(--nav-link-hover-color);
}


.robot-icon-st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.nav-link .twitter-icon,
.nav-link .discord-icon {
    background-color: #FFFFFF;
}

.nav-link:hover .twitter-icon,
.nav-link:hover .discord-icon {
    background-color: #262626;
}

.nav-link-collapsed .twitter-icon,
.nav-link-collapsed:visited .twitter-icon,
.nav-link-collapsed .discord-icon,
.nav-link-collapsed:visited .discord-icon {
    background-color: #262626;
}

.green_dropdown_arrow {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    line-height: 1;
    margin: 0.2rem 0 0 0.5rem;
    fill: none;
}



.nvabar-tagline {

    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */
    color: #000000;
}



.mainsearch {
    font-size: 1.4rem;
}

.main-section {
    padding-top: 10vh;
}

.searchbox {
    box-shadow: 0px 23px 65px -14px rgba(0, 48, 123, 0.21);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    font-size: 1.4rem;
    padding: 1px 0px 1px 25px;
}

.search-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid rgb(18, 0, 130);
    border-left: 0;
    background-color: #120082;
}


/* Jumping 'browse dWebsites arrow*/
.bounce {
    -moz-animation: bounce 2s 3;
    -webkit-animation: bounce 2s 3;
    animation: bounce 2s 3;
    font-size: 1.5rem;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


[data-theme='dark'] .more-dwebsites {
    color: #FFFFFF;
}

/* below landing page */
.category-select {
    background: #FFFFFF;
    box-shadow: 0px 11px 35px -7px rgba(18, 0, 130, 0.22);
    border-radius: 6px;
    height: 46px;
    width: 80%;
    max-width: 322px;
    padding-left: 15px;
    font-size: 20px;
}

.card-upper-rect {
    background: #E3EBED;
    border-radius: 6px;
    max-width: inherit;
}

.card-img {
    /* overflow: hidden;
    width: 120px;
    height: 120px; */
    /* border-radius:50%;
    border: 1px solid black; */
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 1;
    transition: all .3s ease-in-out;
    transform: translateZ(0);
}

.card-img-hotsite {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-top: 1px solid black;
}

.card-img-round {
    border-radius: 50%;
    border: 1px solid black;
}

.card-site-name {
    /* font-family: Bevellier-Regular; */
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-family: Bevellier-Variable;
    font-size: 1.5em;
    line-height: 25px;
    color: var(--text-color-primary);
    padding-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    text-decoration: none;
    max-width: inherit;
}

.card-site-name-hotsite {
    color: #002767;
}

.card-site-description,
a:link .card-site-description,
a:visited .card-site-description {
    font-size: 1.1em;
    line-height: 20px;
    color: #000000;
    text-align: center;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
    text-decoration: none !important;
    /* height: 40px; */
    /* max-width: 250px; */

}

.card-site-description-hotsite,
a:link .card-site-description-hotsite,
a:visited .card-site-description-hotsite {
    min-height: 4.4em;
    -webkit-line-clamp: 4;
    /* number of lines to show */
    text-align: left;
}

.full-site-card {
    text-decoration: none;
    width: 100%;
}

.card-site-link {
    font-family: Alpino-Regular;
    font-size: 1.1em;
    line-height: 19px;
    /* margin-bottom: 20px; */
    text-decoration: underline;
}

.card-content {
    padding-left: 10px;
    padding-right: 10px;
}

.load-more-btn {
    font-family: Alpino-Regular;
    font-size: 20px;
    color: #120082;
    width: 80%;
    max-width: 240px;
    border: 1px solid #120082;
    box-sizing: border-box;
    border-radius: 6px;
}

[data-theme='dark'] .load-more-btn {
    color: var(--text-color-primary)
}


.load-more-div {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-items,
.footer-items a,
.footer-items a:visited {
    margin: 0px 10px;
    /* font-family: Bevellier-Regular; */
    font-family: Bevellier-Variable;
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-size: 18px;
    color: var(--text-color-primary);
}

.footer-items:hover,
.footer-items a:hover {
    color: #5865f2;
}

.footer-items a,
.footer-items a:visited {
    text-decoration: none;
}

.footer {
    height: 100px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.mw-25 {
    max-width: 25%;
}

.mw-50 {
    max-width: 50%;
}

.mw-75 {
    max-width: 75%;
}

.scroll-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    cursor: pointer;

}

.w-95 {
    width: 95% ! important;
}

.h-10 {
    height: 10% ! important;
}

.search-results {
    font-family: Alpino-Light;
    font-size: 28px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 0;
}

[data-theme='dark'] .search-results {
    color: #FFFFFF;
}

.search-results-terms {
    font-family: Alpino-Medium;
    font-size: 28px;
    color: #000000;
}

[data-theme='dark'] .search-results-terms {
    color: #FFFFFF;
}

.mw-640px {
    max-width: 640px;
}

.about-image-xxl {
    z-index: -1;
    right: 0;
}

.search-icon {
    height: 25px;
    width: 25px;
}

.search-bar {
    flex-grow: 0;
    max-width: 540px;
}

.w-45 {
    width: 45% ! important;
}

.esteroids-navbar-toggler:focus {
    box-shadow: 0 0 0 .25rem white;
}

.card-esteroids {
    /* max-width:250px;
    min-width:250px; */
    border-radius: 6px;
    border: 1px solid;
    border-color: #666666;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
}

.card-esteroids-hotsite {
    border-top: 0px;
}

[data-theme='dark'] .card-esteroids {
    overflow: hidden;
    background: #e3ebed;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("../images/search.svg");
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.custom-toggler {
    background-color: var(--text-color-primary);
    ;
}

.WotW {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 6px;
    border: 6px solid #00b392;
}


.WotW-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2) 45%, rgba(0, 0, 0, 1));
}

.WotW-header {
    /* font-family: Bevellier-Bold; */
    font-family: Bevellier-Variable;
    font-weight: 700;
    font-display: swap;
    font-style: normal;
    font-size: 1.3vw;
    position: absolute;
    top: 8px;
    left: 16px;
    background: #00E3BB;
    border-radius: 22.5806px;
    color: var(--text-color-primary);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px
}

.WotW-details-frame {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.WotW-details-text {
    position: relative;
    left: 16px;
    text-align: left;
    width: 80%;
}

.WotW-title {
    font-size: 1.6vw;
    font-weight: bold;
    padding-bottom: 7px;
}

.WotW-desc {
    font-size: 1.1vw;
    padding-bottom: 5px;
}

@media only screen and (max-width: 576px) {
    .WotW-header {
        font-size: 2.3vw;
    }

    .WotW-title {
        font-size: 4.5vw;
    }

    .WotW-desc {
        font-size: 2vw;
        padding-bottom: 5px;
    }

}

.WotW-link {
    text-decoration: none !important;
    color: inherit;
}

.WotW-link:hover {
    color: #9999ff;
}

.info-page {
    font-size: 1.4rem;
}

.info-body {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.card-esteroids-competition-selected {
    border: 4px solid;
    border-color: #4c59a1;
}

.competition-heading {
    background-color: grey;
    border-radius: inherit;
}

.full-site-card button {
    border-radius: 6px;
    border-style: none;
}

.competition-vertical-line {
    border-left: 6px solid white;
    width: 200px;
}

.alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
}

.alert-dismissible {
    padding-right: 4rem;
}

.close {
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;

}


.landing-page-description {
    /* font-family: Bevellier-MediumItalic; */
    font-family: Bevellier-Variable;
    font-weight: 500;
    font-display: swap;
    font-style: italic;
    font-size: 1.8em;
    line-height: 1.1em;
    color: var(--text-color-primary);
}

@media (min-width: 544px) {
    .landing-page-description {
        font-size: 1.8rem;
    }
}

@media (min-width: 768px) {
    .landing-page-description {
        font-size: 2.4rem;
    }
}

@media (min-width: 992px) {
    .landing-page-description {
        font-size: 3.4em
    }
}

@media (min-width: 1200px) {
    .landing-page-description {
        font-size: 4.3em;
    }
}



/******************************/
.wrapper {
    position: relative;
    width: 80px;
    height: 30px;
}

.wrapper .switch {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 30px;
}

.wrapper .switch input {
    display: none;
}

.wrapper .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transition: all 1.4s;
    border-radius: 30px;
    z-index: 100;
    overflow: hidden;
    background-color: rgb(243 247 255);
}

.wrapper .switch .slider:before,
.wrapper .switch .slider:after {
    position: absolute;
    content: '';
    height: 28px;
    width: 28px;
    left: 5px;
    /* bottom: 5px; */
    border-radius: 24px;
    background-color: #8486b3;
    opacity: 0.2;
}

.wrapper .switch .slider:before {
    transition: 0.4s;
}

.wrapper .switch .slider:after {
    transition: 0.5s;
}

.wrapper .switch input:checked+.slider:before {
    transform: translateX(42px);
}

.wrapper .switch input:checked+.slider:after {
    transform: translateX(42px);
}

.wrapper a {
    color: #fff;
    padding: 10px;
    display: block;
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
}

.wrapper .unmoderated {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 58px;
    height: 30px;
}

.wrapper-toggle-unmoderated {
    position: relative;
    width: 80px;
    height: 15px;
}

.wrapper .switch .unmoderated-slider {
    border: 1px solid #828282;
    background-color: transparent;
}

.wrapper .switch .unmoderated-slider:before,
.wrapper .switch .unmoderated-slider:after {
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: 4px;
    /* bottom: 5px; */
    border-radius: 24px;
    background-color: #999999ff;
    opacity: 1;
}

.wrapper .switch input:checked+.unmoderated-slider:before {
    transform: translateX(24px);
    background-color: #c81f1f;
}

.wrapper .switch input:checked+.unmoderated-slider:after {
    transform: translateX(24px);
    background-color: #c81f1f;
}

.wrapper .switch input:checked+.unmoderated-slider {
    background-color: #ff4f4f;
}

[data-theme='dark'] #browse-more {
    color: #dde3e9;
}

.ml-2 {
    margin-left: 0.5rem !important;
}

.ml-1 {
    margin-left: 0.2rem !important;
}


.ml-4-4 {
    margin-left: 1.4rem !important;
}

.esteroids-logo-inner {
    fill: #00e3bb;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.cards {
    clear: both;
    /* margin-left: -35px; */
    transition: padding .6s ease-in-out;
    flex-wrap: wrap;
    padding-right: calc(1.5rem * .5);

    padding-left: calc(1.5rem * .5);
}

.cards [class*=col-] {
    position: relative;
    float: left;
    /* padding-left: 35px; */
    /* padding-bottom: 35px; */
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    /* padding-right: 0px; */
    padding-right: calc(1.5rem * .5);

    padding-left: calc(1.5rem * .5);

}

.card-th-wrapper {
    padding: 0px 78px;
    min-height: 120px;
    min-width: 120px;
}

/* .card-hot-wrapper {
    /* min-height: 175px; */
/* min-width: 290px; 
}*/

.expanded-container {
    position: relative;

    max-width: 100%;
    margin: 0 auto;
    /* padding-left: 66px;
    padding-right: 66px; */
    clear: both;
}



@media (min-width: 1452px) {
    .expanded-container {
        width: 1452px;
    }
}

@media (max-width: 1400px) {
    .cards {
        padding-right: calc(1.5rem * .5);

        padding-left: calc(1.5rem * .5);
    }
}

.justify-content-center {
    justify-content: center !important;
}


.br-20 {
    border-radius: 20px;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.category-navbar {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-right: calc(1.5rem * .75);

    padding-left: calc(1.5rem * .75);
}

@media (max-width: 820px) {
    .category-navbar {

        padding-right: calc(1.5rem * .5);

        padding-left: calc(1.5rem * .5);
    }
}


.site-search {

    font-size: 48px;
    font-weight: 500;
    position: absolute;
    left: 280px;
    top: 170px;
}

.site-search-results {

    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    position: absolute;
    left: 600px;
    top: 260px;
}

li.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}